@font-face {
  font-family: G-Dosis-n4;
  src: url('../data/fonts.gstatic.com_s_dosis_v7_rJRlixu-w0JZ1MyhJpao_Q.ttf');
}
@font-face {
  font-family: "G-Amatic SC-n7";
  src: url('../data/fonts.gstatic.com_s_amaticsc_v11_IDnkRTPGcrSVo50UyYNK7y3USBnSvpkopQaUR-2r7iU.ttf');
}